.tui_items {
    padding: 8px;
    font-family: simsun;
    font-size: 12px;
}

ul.tui_items{
    list-style: none;
}

.tui_item {
    float: left;
    text-align: center;
    position: relative;
    width: 104px;
    padding: 0px 3px;
    overflow: hidden;
}

.tui_item p { text-align:center;margin-top:5px;margin-bottom:5px;}
.tui_item p a{ color:#066EEC;text-decoration:none;}
.tui_item p a:hover{ text-decoration:none;}
.tui_item span{width:40px; height:40px; position:absolute;left:0px; top:0px;}

.tui_item .tui_image{border:0;height:104px;}

div.tui_clear {display:none;height:10px;clear:both;font-size:0;line-height:0;}

.tui_item .tui_price, .tui_item .tui_price b,.tui_item .tui_price del{
    line-height: 15px;
    color: #FF8A00;
    font-size: 12px;
}
